# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local

# Logs
*.log
npm-debug.log*

# Dependencias
node_modules/

# Builds
/dist
/build

# Archivos de IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp

# Imágenes grandes sin comprimir (opcional)
/*.psd
/*.ai

# Videos originales (si los hay)
/*.mov
/*.avi
